@import url("https://nts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swfoap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 80vw;
  font-family: "Open Sans" sans-serif;
  font-weight: normal;
  background: #eceff1;
  color: #4d4d4d;
  margin: auto;
}
